#headline{

    text-align: center;
    padding-top: 200px;
    color: rgb(12, 1, 15);
    font-size: 60px;
    font-weight: bold;  
}

#btn-download{
    
    font-size: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-left: 600px;
    background-color: rgb(10, 57, 119);
    font-weight: bold;
    border-radius: 5px;
    

}

.content-1{
background-image: url(./backgrnd-img1.PNG);  
background-size: cover; 
height: 100vh;
width: 100%;
border-radius: 10px;
 
}

.div1{
    border: solid 1px black;
    width: 300px;
    height: 180px;
    border-radius: 5px;
    background-color: rgb(43, 91, 155);
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 110px;
    margin-right: 20px;
}

a{
    text-decoration: none;
}


.div2{
    border: solid 1px black;
    width: 300px;
    height: 180px;
    border-radius: 5px;
    background-color: rgb(43, 91, 155);
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 110px;
    margin-right: 20px;
}

.div3{
    border: solid 1px black;
    width: 300px;
    height: 180px;
    border-radius: 5px;
    background-color: rgb(43, 91, 155);
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 110px;
    margin-right: 20px;
}

.div4{
    border: solid 1px black;
    width: 300px;
    height: 180px;
    border-radius: 5px;
    background-color: rgb(43, 91, 155);
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 110px;
    margin-right: 20px;
}

.div5{
    border: solid 1px black;
    width: 300px;
    height: 180px;
    border-radius: 5px;
    background-color: rgb(43, 91, 155);
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 110px;
    margin-right: 10px;
    margin-right: 20px;
}

.div6{
    border: solid 1px black;
    width: 300px;
    height: 180px;
    border-radius: 5px;
    background-color: rgb(43, 91, 155);
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 110px;
    margin-right: 20px;
    
}
#maindiv1{

    display: flex;
    padding: 30px;
    justify-content: center;
    
}

#maindiv2{

    display: flex;
    padding: 5px;
    justify-content: center;
    
    
}

.maindiv{
    margin-top: 0px;
    background-image: url(./backgrnd-img2.PNG);
    background-size: cover;
    
}

#option{
    border: solid 1px black;
    background-color:  rgb(219, 220, 233);
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover, .div6:hover{

    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color:  rgb(219, 220, 233);
}

#btn-download:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color:  rgb(219, 220, 233);
}


#footer{
    border: 1px solid black;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: 30px;
}

#pre-fooder{

    height: 20px;
}

.div-co{
    color: white;
    
    
    
}

#btn-co{
    font-size: 20px;
    background-color:rgb(43, 91, 155) ;
    margin-top: 60px;
    padding: 10px;
    width: 100px;
    margin-left: 600px;
    font-weight: bold;
   
}

.bg-div-co{
    background-image: url(./backgrnd-img3.PNG);
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    padding-top: 60px;
}

#headlines{

    font-size: 40px;
    font-weight: bold;
    background-color:rgb(43, 91, 155)  ;
    color: black;
    text-align: center;
    
}
.points{
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(43, 91, 155)  ;
    margin-left: 50px;
}